*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;}

html{
  font-size: 62.5%;
}
body{ 
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: hsl(0, 0%, 90%);
margin-top: 25px;
margin-bottom: 25px;
}
.wrap {
width: 900px;
height: auto;
border-radius: 0.5rem;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
color:#faebdc;

margin-top: 0.7rem;
}
.wrap h2{
  font-family: 'Big Shoulders Display', cursive;
  color:#ffffff;
  font-size: 3.2rem;
  font-weight: 700;
  margin-top: 1.6rem;
}

.wrap p{
  font-family: 'Lexend Deca', sans-serif;
  width: 172px;
  height: 115px;
  margin-top: 1.1rem;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  line-height:  1.7rem;
}
.button1{
width: 150px;
height: 40px;
margin-top: 8rem;
font-size: 15px;
padding: 0.8rem 3.2rem;
background-color: white;
border-radius: 2rem;
outline: none;
border: solid 2px white;
transition: 0.3s ease;
cursor: pointer;
color:  hsl(31, 77%, 52%);

}
.button1:hover{
  background-color: transparent;
  color: white;
}

.button2{
  width: 150px;
  height: 40px;
  margin-top: 8rem;
  font-size: 15px;
  padding: 0.8rem 3.2rem;
  background-color: white;
  border-radius: 2rem;
  outline: none;
  border: solid 2px white;
  transition: 0.3s ease;
  cursor: pointer;
  color: #006970;
  
  }
  .button2:hover{
    background-color: transparent;
    color: white;
  }
.button3{
    width: 150px;
    height: 40px;
    margin-top: 8rem;
    font-size: 15px;
    padding: 0.8rem 3.2rem;
    background-color: white;
    border-radius: 2rem;
    outline: none;
    border: solid 2px white;
    transition: 0.3s ease;
    cursor: pointer;
    color: #004241;
    
    }
    .button3:hover{
      background-color: transparent;
      color: white;
    }
    

.card1{
width: 300px;
height: 450px;
height: 100%;
padding: 4.8rem 6.4rem;
background-color: hsl(31, 77%, 52%);
display: flex;
flex-direction: column;
justify-content: center;
color:  hsl(31, 77%, 52%);
}


.card2{
  width: 300px;
  height: 450px;
  height: 100%;
  padding: 4.8rem 6.4rem;
  background-color:#006970;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

.card3{
    width: 300px;
    height: 450px;
    height: 100%;
    padding: 4.8rem 6.4rem;
    background-color:#004241 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media screen and (max-width:900px) {
  .wrap{
    flex-direction: column;
    overflow: auto;
    height: auto;
    margin: 3rem auto;
    width: 300px;
  }
  .cart1{
  
    border-radius: 2rem 2rem 0 0;
  }

.card3{

  border-radius: 0 0 2rem  2rem;
}

  button{
    margin-top: 3rem;
  }}